<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Secrets</title>
    </head>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style2.css" />
    <body>
        <header><h1>SecretsWorld</h1></header>
        <div>
            <div class="alert alert-info" role="alert">
                only 6 secrets can be added !!
            </div> 
            <form action="/submit" method="post">
                <input
                    type="text"
                    class="form-control text-center"
                    name="secret"
                    placeholder="What's your secret?"
                />
                <button type="submit">Add</button>
            </form>
        </div>
        <% for (var i = 0; i < secrets.length; i++) { %>
            <div class="note"><p><%= secrets[i] %></p></div>
        <% } %>
    </body>
</html>